// typo

// !font-sizes

.font-13 {
  font-size: 13px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.font-34 {
  font-size: 34px;
}

.font-48 {
  font-size: 48px;
}

// !font-weights

.weight-lighter {
  font-weight: $extra-light;
}

.weight-light {
  font-weight: $light;
}

.weighth-regular {
  font-weight: $regular;
}

.weight-medium {
  font-weight: $medium;
}

.weight-sbold {
  font-weight: $semi-bold;
}

.weight-bold {
  font-weight: $bold;
}

// !line-heights

.line-16 {
  line-height: 16px;
}

.line-22 {
  line-height: 22px;
}

.line-24 {
  line-height: 24px;
}

.line-27 {
  line-height: 27px;
}

.line-28 {
  line-height: 28px;
}

.line-32 {
  line-height: 32px;
}

.line-51 {
  line-height: 51px;
}

.line-54 {
  line-height: 54px;
}

.line-56 {
  line-height: 56px;
}
