// variables

// * typo
$font-family: "Livvic", sans-serif;

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// * colors
$color-white: #fff;
$color-black: #000;

// topper-bg / all buttons / numbers-bg(opacity) / numbers__number / all top-text / case-studies-card-text / contact-phone / footer-bg
$color-primary: #459eff;

// nav-link / footer-text
$color-cello: #233d63;

// hero-title / hero-text / all header(title) / numbers-title /services-text /
$color-ebony: #222a41;

// numbers-text / services-text / case-date / testimonials-text / contact-text
$color-pale: #6d7783;

// services-background / testimonials-background
$color-zumthor: #ecf5ff;

// case-image / person-avatar
$color-nobel: #b4b4b4;
