// cards

.cards {
  // !numbers-card
  &--numbers {
    width: 253px;
    height: 180px;
    border-radius: 18px;
    background-color: $color-white;
    @include box-shadow($numbers-b-shadow);

    padding: 44px 0;
    margin: 0 15px;
  }
  &__numbers__number {
    color: $color-primary;
  }
  &__numbers__title {
    padding-top: 14px;
    color: $color-ebony;
  }

  // !services-card
  &--services {
    width: 306px;
    height: 343px;
    padding: 25px 0 10px 0;

    @include box-shadow($services-b-shadow);
    margin-bottom: 60px;
  }
  &__services__icon {
    padding-top: 6px;
  }
  &__services__title {
    padding: 20px 0 13px 1px;
    color: $color-ebony;
  }

  &__services__text {
    padding-left: 1px;
    padding-bottom: 3px;
    letter-spacing: 0.2px;
    color: $color-pale;
  }

  // !case-card
  &--case {
    width: 306px;
  }

  &__case__bottom {
    border: 1px solid rgba(rgb(216, 216, 216), 0.5);
  }

  &__case__date {
    display: block;
    padding: 24px 0 0px 29px;
    color: $color-pale;
  }
  &__case__title {
    padding: 22px 30px 18px 29px;
    color: $color-primary;
    letter-spacing: 0.2px;
  }

  // !testimonials-card
  &--testimonials {
    width: 445px;
    height: 268px;
    border-radius: 8px;
    background-color: $color-white;
    @include box-shadow($testimonials-card-shadow);
    margin-bottom: 30px;
  }

  &__testimonials__text {
    padding: 31px 0px 0px 30px;
  }
  &__testimonials__person-card {
    display: flex;
    padding: 9px 110px 30px 28px;

    .person-avatar {
      @include box-shadow($testimonials-avatar-shadow);
      height: 64px;
      width: 64px;
      background-color: $color-nobel;
      border-radius: 50%;
      border: 2px solid $color-white;
    }

    .person-text {
      padding: 7px 0 0 18px;
    }
    .person-name {
      color: $color-black;
    }
    .person-title {
      color: #b4b4b4;
    }
  }
}
