// base

body {
  box-sizing: border-box;
  font-family: "Livvic", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

input {
  display: block;
}
