// case-studies

.case {
  height: 692px;
  &__heading {
    padding: 103px 0 70px 0;
  }
  &__top {
    color: $color-primary;
    letter-spacing: 0.2px;
    padding-left: 5px;
  }

  &__header {
    color: $color-ebony;
    padding: 16px 0 0 2px;
    letter-spacing: 0.3px;
  }

  &__wrapper {
    align-self: center;
  }

  &__column:nth-child(1) {
    margin-right: -44px;
  }

  &__column:nth-last-child(1) {
    margin-left: -44px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .case {
    padding: 0 0 100px 0;
    height: auto;
    margin-bottom: 40px;

    &__column {
      justify-content: center;
      padding: 0;
      margin: 50px 0;

      &:nth-child(1),
      &:nth-last-child(1) {
        margin: 0;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .case {
    padding: 0;
    height: auto;

    &__column {
      justify-content: center;
      padding: 0;

      &:nth-child(1),
      &:nth-last-child(1) {
        margin: 0;
      }
    }
  }
}
