// case-studies

.case {
  height: 692px;
  &__heading {
    padding: 103px 0 70px 0;
  }

  &__header {
    padding-top: 16px;
  }

  &__wrapper {
    align-self: center;
  }

  &__column:nth-child(1) {
    margin-right: -44px;
  }

  &__column:nth-last-child(1) {
    margin-left: -44px;
  }
}
