// contact

.contact {
  height: 558px;

  &__heading {
    color: $color-cello;
  }

  &__header {
    padding: 100px 0 0 66px;
    letter-spacing: 0.4px;
  }

  &__text {
    color: $color-pale;
    padding: 31px 0 0 0;
    letter-spacing: 0.1px;
  }

  &__phone {
    padding-left: 65px;
  }

  &__formaction {
    padding: 108px 70px 29px 0px;
  }
  &__mainLoginInput {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    outline-width: 0;
  }
  &__mainLoginInput:focus {
    outline-width: 0;
  }

  input:nth-child(2) {
    padding-top: 42px;
  }

  textarea {
    padding-top: 42px;
  }

  &__btn {
    padding-top: 32px;
  }

  .number {
    color: $color-primary;
  }
}

@include media(">=xs", "<=sm") {
  .contact {
    height: auto;
    text-align: center;
    padding: 50px 0 20px 0;

    &__header {
      padding: 0;
    }

    &__phone {
      padding: 0;
    }

    &__formaction {
      padding: 50px 10%;
    }

    &__btn {
      margin-top: 50px;

      a {
        padding: 13px 60px;
      }
    }
  }
}

@include media(">=sm", "<=md") {
  .contact {
    height: auto;
    text-align: center;
    padding: 50px 0 20px 0;

    &__header {
      padding: 0;
    }

    &__phone {
      padding: 0;
    }

    &__formaction {
      padding: 50px 10%;
    }

    &__btn {
      margin-top: 40px;

      a {
        padding: 13px 60px;
      }
    }
  }
}

@include media(">=md", "<=lg") {
  .contact {
    height: auto;
    padding: 50px 0;

    &__header {
      padding: 0;
    }

    &__phone {
      padding: 0;
    }

    &__formaction {
      padding: 50px 10%;
    }

    &__btn {
      margin-top: 30px;

      a {
        padding: 13px 70px;
      }
    }
  }
}

@include media(">=lg", "<=xl") {
}
