// hero
.hero {
  height: 547px;
  padding: 0 0 0 132px;

  &__inner {
    margin-top: 125px;
  }

  &__title {
    color: $color-ebony;
  }

  &__text {
    padding: 22px 0;
    color: $color-ebony;
  }

  &__illustration {
    position: relative;
    top: 47px;
    left: -36px;

    width: 150%;
    height: 466px;

    background-image: url("../assets/img/hero/hero-bg.svg");
    background-repeat: no-repeat;
  }
}

@include media(">=xs", "<=sm") {
  .hero {
    padding: 0;
    text-align: center;

    &__inner {
      margin: 12% 0 0 0;
    }

    &__title {
      padding: 12px 0;
    }

    &__text {
      padding: 26px 0;
    }

    &__illustration {
      display: none;
    }

    &__btn {
      a {
        padding: 13px 60px;
      }
    }
  }
}

@include media(">=xs", "<=md") {
  .hero {
    padding: 0;
    text-align: center;

    &__inner {
      margin: 12% 0 0 0;
    }

    &__title {
      padding: 24px 0;
    }

    &__text {
      padding: 32px 0;
    }

    &__btn {
      padding: 40px 0;

      .btn_def {
        padding: 13px 100px;
      }
    }

    &__illustration {
      display: none;
    }
  }
}

@include media(">md", "<lg") {
  .hero {
    padding: 0;

    &__inner {
      margin: 12% 0 0 0;
    }
  }
}

@include media(">lg", "<=xl") {
  .hero {
    &__inner {
      margin: 100px 0 0 0;
    }
  }
}
