// hero
.hero {
  height: 547px;
  padding: 0 0 0 132px;

  &__inner {
    margin-top: 125px;
  }

  &__title {
    color: $color-ebony;
  }

  &__text {
    padding: 22px 0;
    color: $color-ebony;
  }

  &__illustration {
    position: relative;
    top: 47px;
    left: -36px;

    width: 150%;
    height: 466px;

    background-image: url("../assets/img/hero/hero-bg.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hero {
    &__illustration {
      display: none;z}
  }
}
