// hero
.hero {
  height: 547px;
  padding: 0 0 0 132px;

  &__inner {
    margin-top: 125px;
  }

  &__text {
    padding: 22px 0;
  }
  // &__illustration {
  //   width: 525px;
  //   height: 421px;
  //   background-image: url("../assets/img/hero/illustration.svg");
  //   background-position: center;
  // }
  // &__ornament {
  //   width: 609px;
  //   height: 466px;
  //   background-image: url("../assets/img/hero/ornament.svg");
  //   background-repeat: no-repeat;
  //   background-position: 100px -300px;
  // }

  &__col {
    padding: 65px 20px 0 0;
    margin-left: -50px;
  }
  &__illustration {
    width: 609px;
    height: 466px;
    background-image: url("../assets/img/hero/illustration.svg"),
      url("../assets/img/hero/ornament.svg");
    background-repeat: no-repeat, no-repeat;
  }
}
