// nav

.topper {
  display: block;
  height: 40px;

  color: $color-white;
  background-color: $color-primary;

  a {
    color: $color-white;
    @include transitions($args);

    &:hover {
      color: $color-black;
      @include transitions($args);
    }
  }

  &__left {
    line-height: 35px;
    padding-right: 6px;
    margin-top: -1px;
  }

  &__icon {
    padding: 0 7px 0 0;
  }

  &__right {
    padding: 2px 80px 0 65px;
    margin-top: -2px;
  }

  &__text {
    line-height: 40px;
    letter-spacing: 0.4px;
  }

  .row {
    margin: 0 20px 0 49px;

    .social-icons {
      padding: 6px 0 5px 11px;

      .icon {
        padding: 0 10px 0 11px;
      }
    }
  }
}

.navbar {
  margin-top: 9px;

  .nav-active {
    transform: translateX(0%);
  }

  &__brand {
    margin: 0 0 0 67px;
  }

  &__logo {
    color: $color-black;
  }

  &__items {
    display: flex;
    flex-direction: row;
    padding: 16px 0 0 325px;
  }

  &__link {
    color: $color-cello;
    padding: 0 17px;
  }

  &__btn {
    padding-right: 62px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .topper {
    display: none;
  }

  .navbar {
    padding: 6px;
    display: flex;
    flex-direction: column;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__top {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    &__brand {
      margin: 2px 0 0 0;
    }

    &__items {
      display: flex;
      justify-content: column;
      padding: 10px 0 0 0;
      margin: auto;

      li {
        display: flex;
        flex-direction: column;
      }
    }

    &__link {
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-size: 20px;
      text-align: center;
      padding: 10px;
    }

    &__btn {
      display: none;
    }

    &__items {
      display: flex;
      flex-direction: column;
    }

    .burger-toggler {
      display: block;
      cursor: pointer;
      margin-right: 6px;
      margin-left: auto;

      div {
        width: 24px;
        height: 3px;
        margin: 5px;
        background-color: #000;
      }
    }
  }
}
