// numbers

.numbers {
  height: 600px;
  background-color: $color-zumthor;
  text-align: center;

  &__heading {
    padding: 100px 0 30px 0;
  }

  &__top {
    color: $color-primary;
  }

  &__header {
    padding: 20px 0 21px 0;
    color: $color-ebony;
  }

  &__text {
    color: $color-pale;
  }

  &__number {
    color: $color-primary;
  }

  &__title {
    color: $color-ebony;
  }
}
