// numbers

.numbers {
  height: 600px;
  background-color: $color-zumthor;
  text-align: center;

  &__heading {
    padding: 100px 0 30px 0;
  }

  &__top {
    padding-left: 2px;
    color: $color-primary;
    letter-spacing: 0.2px;
  }

  &__header {
    padding: 22px 0 28px 0;
    color: $color-ebony;
    letter-spacing: 0.3px;
  }

  &__text {
    color: $color-pale;
    padding-left: 1px;
  }

  &__number {
    color: $color-primary;
  }

  &__title {
    color: $color-ebony;
  }
}

@include media(">=xs", "<=lg") {
  .numbers {
    height: auto;
    padding-bottom: 50px;

    .cards--numbers {
      margin: 0 auto;
    }
  }
}
