// services-list

.services {
  height: 1153px;
  padding: 0 135px;

  &__heading {
    padding: 100px 0 42px 0;
  }

  &__top {
    color: $color-primary;
    letter-spacing: 0.2px;
  }

  &__header {
    padding: 18px 0 17px 0;
    color: $color-ebony;
    letter-spacing: 0.3px;
  }
}

@include media(">=xs", "<=lg") {
  .services {
    padding: 0;
    height: auto;
    text-align: center;

    &__header {
      padding: 0 10px;
    }

    .cards--services {
      width: auto;
      height: auto;
      padding: 50px 10px;
    }
  }
}

@include media(">lg", "<=xl") {
  .services {
    padding: 0;
    height: auto;

    .cards--services {
      margin: 20px auto;
    }
  }
}
