// testimonials

.testimonials {
  height: 1081px;
  background-color: $color-zumthor;

  &__heading {
    padding: 98px 0 60px 95px;
  }

  &__top {
    color: $color-primary;
    letter-spacing: 0.2px;
  }

  &__header {
    color: $color-ebony;
    padding: 18px 0 0 0;
    letter-spacing: 0.4px;
  }

  &__cards:nth-child(odd) {
    margin-top: 146px;
  }

  &__cards:nth-child(even) {
    margin-left: 95px;
  }

  &__bottom {
    display: flex;
  }

  &__logo {
    padding: 30px 24px 0 24px;
  }

  img:nth-child(1) {
    margin-right: -16px;
  }

  img:nth-child(5) {
    margin-left: -15px;
  }

  .cards__testimonials__text {
    color: $color-pale;
  }

  .person-text {
    color: $color-black;
  }

  .person-name {
    color: $color-ebony;
  }
}

@media (min-width: 320px) and (max-width: 577px) {
  .testimonials {
    height: auto;
    padding: 50px 0;
    text-align: center;

    &__heading {
      padding: 0 0 50px 0;
    }

    &__cards {
      margin: 0;
      padding: 0;

      .cards--testimonials {
        width: auto;
        height: auto;
        text-align: justify;
      }

      .cards__testimonials__text {
        padding: 20px;
      }

      .cards__testimonials__person-card {
        padding: 12px 12px 24px 13%;

        .person-text {
          width: 100%;
          text-align: center;
        }
      }

      &:nth-child(2n),
      &:nth-child(2n + 1) {
        margin: 0;
        padding: 0;
      }
    }

    &__bottom {
      flex-direction: column;
    }
  }
}

@media (min-width: 578px) and (max-width: 767px) {
  .testimonials {
    &__cards {
      .cards--testimonials {
        text-align: center;
      }

      .cards__testimonials__text {
        padding: 20px;
      }

      .cards__testimonials__person-card {
        padding: 0 12px 24px 20%;

        .person-text {
          width: 100%;
          text-align: center;
        }
      }

      &:nth-child(2n),
      &:nth-child(2n + 1) {
        margin: 0;
        padding: 0;
      }
    }

    &__bottom {
      flex-direction: column;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}
